@model GestorDeHotel.Model.ReservacionViewModelDetalles

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles de reservación</h2>

<div>
    <h4>Verifique sus datos de reservación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeSalida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeSalida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.montoPorHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.montoPorHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeHoras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeHoras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.montoDescuento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.montoDescuento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.montoTotalDeLaReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.montoTotalDeLaReserva)
        </dd>

    </dl>
</div>
<div>

    <a asp-action="Index">Confirmar</a>
</div>
