@model GestorDeHotel.Model.Tarifa

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles de la Tarifa</h2>

<div>

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desde)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desde)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoXHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoXHora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
